<p-scrollPanel [ngStyle]="{'width':isCollapse?'70px':'250px'}" styleClass="custom"
    class="position-absolute top-0 left-0 bg-white side-bar  px-3" (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()">

    <div class="side-bar-inner overflow-hidden">
        <div class="side-bar-header d-flex w-100 justify-content-between align-items-center mb-5 pt-3 justify-content-center"
            [ngClass]="{'justify-content-between':!isCollapse}">
            <div class="logo fst-italic" *ngIf="isCollapse">
                <img src="assets/logo_collapse.png" alt="">
            </div>
            <div class="logo fst-italic" *ngIf="!isCollapse">
                <img src="assets/logo.png" alt="" width="140px" height="43px">
            </div>
            <button
                class="collapse-btn btn btn-sm  btn-warning px-1 py-1 d-flex justify-content-center align-items-center"
                (click)="lockSideBar()" *ngIf="!isCollapse">
                <svg xmlns="http://www.w3.org/2000/svg"
                    [ngStyle]="{'transform':isLocked?'rotate(90deg)':'','transition':'all 0.3s ease-in-out'}"
                    xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" height="15px" width="15px" fill="white"
                    id="Capa_1" x="0px" y="0px" viewBox="0 0 283.535 283.535">
                    <g>
                        <path
                            d="M40.687,101.082C18.252,101.082,0,119.333,0,141.768s18.252,40.686,40.687,40.686s40.686-18.251,40.686-40.686   S63.121,101.082,40.687,101.082z M40.687,164.453c-12.51,0-22.687-10.177-22.687-22.686s10.177-22.686,22.687-22.686   c12.509,0,22.686,10.177,22.686,22.686S53.195,164.453,40.687,164.453z" />
                        <path
                            d="M141.768,101.082c-22.435,0-40.686,18.251-40.686,40.686s18.251,40.686,40.686,40.686s40.686-18.251,40.686-40.686   S164.202,101.082,141.768,101.082z M141.768,164.453c-12.509,0-22.686-10.177-22.686-22.686s10.177-22.686,22.686-22.686   s22.686,10.177,22.686,22.686S154.276,164.453,141.768,164.453z" />
                        <path
                            d="M242.849,101.082c-22.435,0-40.686,18.251-40.686,40.686s18.251,40.686,40.686,40.686s40.687-18.251,40.687-40.686   S265.283,101.082,242.849,101.082z M242.849,164.453c-12.509,0-22.686-10.177-22.686-22.686s10.177-22.686,22.686-22.686   c12.51,0,22.687,10.177,22.687,22.686S255.358,164.453,242.849,164.453z" />
                    </g>
                </svg>
            </button>
        </div>
        <div *ngFor="let sidebarButton of sidebarButtons;let i = index">
            <app-sidebar-button [btnIndex]="i"></app-sidebar-button>
        </div>
    </div>
</p-scrollPanel>
