*{
    font-size: 15px;
}

.textSmall{
    font-size:12px;
}
.textMedium{
    font-size:14px;
}
.textLarge{
    font-size:16px;
}
.textLarger{
    font-size:18px;
}

.bolder{
    font-weight: 800;
}
.bold{
    font-weight: 600;
}

:host ::ng-deep .p-dropdown-sm{
    .p-dropdown{
        width: 100%;
    }
}
::ng-deep .p-element,:host
::ng-deep .p-dropdown{
   height: 50px;
}