:host ::ng-deep .p-carousel-indicators{
visibility: hidden ;
}
:host ::ng-deep .p-checkbox-box{
border-radius: 0px !important ;
}

.category-box{
    height: 90px;
    width: 90px;
    background-color: white;
    border-radius: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover{
        background-color: red;
        color: white;
    }
    &:active{
        background-color: red;
        color: white;
    }
}

.items{
    width: 100%;
    cursor: pointer;
    .item-card{
        background-color: white;
        border-radius: 5px;
        height: 400px;
        width: 250px;

        .card-img-top{
            height: 200px;
        }

        .card-body{
            .card-title{
                font-size: 20px;
            }
        }
    }
}

.order-item-list{
    max-height: 500px;
    width: 100%;
    overflow-y: auto;

    .order-item{
        background-color: white;
        .order-item-image{
            height: 100px;
            width: 100px;
            background-color: red;
        }
    }
}

.bills{
    
    .total{
      
        .total-label{
            font-weight: 600;
            font-size: 1.2rem;
        }
        .total-value{
            font-weight: 600;
            font-size: 1.2rem;
        }
    }
}