<app-common-header heading="Product Add" subHeading="Create new product">
</app-common-header>

<div class="container-fluid">
    <p-card>
        <div class="row">
            <div class="col-3 d-flex flex-column pb-3 ">
                <label>Id</label>
                <input type="text" pInputText class="p-inputtext-sm">
            </div>
            <div class="col-3 d-flex flex-column pb-3 ">
                <label>Description</label>
                <input type="text" pInputText class="p-inputtext-sm">
            </div>
            <div class="col-6  d-flex flex-column pb-3">
                <label>Sub Categories</label>
                <p-chips [(ngModel)]="subCategories" ngDefaultControl></p-chips>

            </div>
            <div class="col-6 d-flex flex-column pb-3">
                <label>Category Image</label>
                <div
                    class="container-fluid border-1 border-dark bg-light p-5 d-flex justify-content-center align-items-center">
                    <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"
                        [auto]="true"></p-fileUpload>
                </div>
            </div>
            <div class="col-12 d-flex  pb-3">
                <p-button label="Save" styleClass="p-button-raised   p-button-primary me-2"></p-button>
                <p-button label="Cancel" styleClass="p-button-raised  p-button-danger"></p-button>
            </div>
        </div>
    </p-card>
</div>