.menu-item{
    background-color: white;
    color: #637381;

    svg{
        fill: #637381;
        stroke: #637381;
        &:hover{
            fill: white;
        }
    }

    &:hover{
        cursor: pointer;
        background-color: #1B2850;
        color: white;
    }
}

.bgColor{
    background-color: #1B2850;
    color: white;
}

.menu-subitem{
    .selectionDot{
        border-radius: 50%;
        height: 10px;
        width: 10px;
        border: solid 1px #1B2850;

        &.active{
            background-color: #1B2850;
            border:none;
        }
    }
    .subitem{
        font-size: 14px;
    }
}